.card-img,
.card-img-bottom,
.card-img-top {
  width: 150px;
  align-self: center;
  margin: 10px;
  border-radius: 5px;
}
.body .productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
div h1 {
  text-align: center;
  margin: 15px;
}
.card-img {
  width: 33%;
}

.card {
  width: 30%;
  margin: 25px;
}

.agregar {
  align-self: center;
}

.card-sody {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.producto-detalles-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botonera {
  display: flex;
  flex-direction: row;
}

.detail-img {
  width: 50%;
}

.detail {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}
html {
  min-height: 100%;
  /* position: relative; */
}

.footer {
  margin-top: auto;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-input{
  display: flex;
  justify-content: center;
  margin: 15px;
}
.input{
  width:50%;
  text-align: center;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.containerLoader{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.containerLoader h2{
  font-size: 50px;
}